.container-overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.close-button{
    position: absolute;
    border: none;
    top: 0px;
    right: 0px;
    padding: 0px 5px;
    background-color: #6871fe;
    color: #fff;
    border-radius: 3px;
}
.channels-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    max-width: 700px;
    padding: 12px;
    background-color: #fff;
}
.channels-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
}
.channel{
    background-color: #6871fe;
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 8px;
    border-radius: 8px;;
    color: #fff;
}
.subscribe-button{
    border-style: none;
    background-color: #fff;
    padding: 4px 10px;
    border-radius: 6px;
    
}